@charset "UTF-8";

h4
{
	text-align:center;
	margin-top:130px;
	margin-left:50px;
}

.calsi {
	text-align: center;
	width: 250px;
	height: 400px;
	padding: 40px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

.t1
{
	box-shadow:0 0 0 10px #666;
}

table, td, th {
	background-color: grey;
	border: solid 1px black;
}

input[type="button"] {
	color: black;
	width: 100%;
	padding: 35px;
	background-color:silver;
}

input[type="text"] 
{
	width: 86%;
	background-color: white;
	padding:15px;
}

input[type="button"]:hover
{
	background-color: white;
}

#display,#displayBox
{
	outline:none;
	border:none;
	user-select:none;
	text-align:right;
	background-color: aliceblue;
}

#clear
{
	background-color: gold;
}

#display
{
	font-size:20px;
	color:bold black;
}

#displayBox
{
	font-size:15px;
	color:black;
}